input{
    border: none;
    width: 300px;
background: gray;
height: 300px;
text-align: center;
font-size: 30px;
color: white;
}
input::placeholder{
    color: white;
    font-size: 12px;
}
input:focus{
    outline: none;

}
button{
background: none;
border: 1px solid grey;
height: 50px;
background: plum;
color: white;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    
}